body{
background-color:#6b2e2e!important;
}

#nav {
  width:100%;
  background-color:#333333;
  position: fixed;
  top:0!important;
  margin:0;
  padding:0;
  z-index:5000;
  border-bottom:1px solid white;
}
#nav .navwidth{
  max-width:980px;
  margin:auto;
  height:50px;
  padding:0 10px;
  color:white;
}
#nav .nav-left{
  float:left;
  font-size:45px;
  font-family: 'Tangerine', cursive;
  letter-spacing:2px;
  top:5px;
  position:relative;
}
#nav .nav-right{
  float:right;
  font-size:14px;
  color:white;
  position:relative;
  top:20px;
}

#nav .nav-right li{
  display:inline-block;
}
#nav .nav-right li a{
  padding:15px 10px;
  text-decoration:none!important;
  color:white;
}
#nav .nav-left a{
  color:white;
  text-decoration:none!important;
}
/*NAV END INTRO START*/

#intro{
  width:100%;
  margin-top:60px;
  padding:30px 0;
  color:white;
}
#intro .intro-main{
  max-width:980px;
  margin:30px auto 30px auto;
}
#intro .intro-main .intro-name{
  width:70%;
  margin:auto;
  text-align:center;
}
#intro h2{
  font-size:60px;
}
#intro h3{
  font-family: 'Tangerine', cursive;
  font-size:45px;
  margin-top:35px;
  letter-spacing:2px;
}

/*INTRO END ABOUT ME START */
#about{
  width:100%;
  padding-top: 70px; margin-top: -70px;
}

#aboutme{
  max-width:980px;
  background-color:white!important;
  border-radius:10px;
  margin:0 auto;
  overflow:hidden;
  box-shadow:0 0 3px black;
}
#about-me{
  max-width:650px;
  margin:auto;
  line-height:30px;
  padding:20px;
}
#about-me a{
  text-decoration:none;
  font-size:18px;
}
#h21{/*about me*/
  width:100%;
  height:20px;
  border-bottom:1px solid black;
  text-align:center;
  margin:25px 0 40px 0;
}
#h21 span, #h22 span{
  font-size:30px;
  background-color:white!important;
  padding:0 15px;
}
#h22{/*Skills*/
  width:100%;
  height:20px;
  border-bottom:1px solid black;
  text-align:center;
  margin:40px 0 40px 0;
}
#skillsp{
  text-align:center;
}



footer{
  width:100%;
  border-top:1px solid white;
  background-color:#333333;
  overflow:hidden;
  margin-top:100px;
  color:white;
}
#footer{
  max-width:980px;
  margin:auto;
  padding-top:80px;
  margin:-80px auto 0 auto;
}
#connect{
  width:40%;
  float:left;
}
#contact{
  width:60%;
  float:left;
  margin-bottom:30px;
}
#footer section, #contact h3, #connect h3{
  text-align:center;
}
#footer hr{
  border: 0;
  clear:both;
  display:block;              
  background-color:white;
  height: 1px;
}
#footer p{
  margin-bottom:15px;
}
#connect{
  padding-bottom:10px;
}
#connect h4, #contact h4{
  padding:10px;
}
#connect>div{
  width:200px;
  margin:18px auto;
}
#connect .btn{
  width:100%;
}

#codepen{
  color:white;
  background-color:black;
  font-family: 'Cormorant Garamond', serif;
  font-size:20px;
}
#github{
  background-color:lightgrey;
  color:black;
}
#fcc{
  background-color:#006600;
  color:white;
  font-family: 'Lato', sans-serif;
}
#contact form{
  border:1px solid white;
  width:80%;
  margin:auto;
  border:none;
  color:black!important;
}
#name, #email{
  width:100%;
  height:35px;
  margin-bottom:15px;
  border-radius:8px;
}
#message{
  width:100%;
  border-radius:8px;
  margin-bottom:8px;
}
#contact form>div{
  width:30%;
  margin:auto;
}
#send{
  border-radius:8px;
  width:100%;
  padding:5px;
  font-size:16px;
  border:none;
}
textarea {resize: none}

/*return to top button*/
#return-to-top {
    box-shadow:0 0 3px black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #d9d9d9;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: black;
    margin: 0;
    position: relative;
    left: 16px;
    top: 16px;
    font-size: 19px;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background:white;
}
#return-to-top:hover i {
    color: black;
    top: 5px;
}












@media (max-width:1000px){
  #aboutme{
    border-radius:0;
  }
}

@media (max-width:700px){
  #connect, #contact{
    width:100%;
    float:none;
  }
  #connect{
    overflow:hidden;
  }
  #connect div{
    width:50%;
    float:left;
    padding:0 30px;
  }
  #connect div:nth-child(4){
    float:none;
  }
  #connect .btn{
    width:100%;
 
  }
}

@media (max-width:545px){
  #intro .intro-main .intro-name{
    width:90%;
  }
  #connect div{
    width:50%;
    margin:15px auto;
    float:none;
    padding:0;
  }
  #connect .btn{
    width:100%
  }
  #nav .navwidth{
    height:110px;
  }
  #nav .nav-left{
    float:none;
    position:relative;
    width:180px;
    margin:auto;
    top:10px;
    text-align:center!important;
    font-size:45px;
  }
  #nav .nav-right{
    float:none;
    text-align:center;
    width:100%;
    margin:auto;
    top:8px;
  }
  #nav .nav-right ul{
    padding:0;
    margin:auto;
  }
  #intro{
    margin-top:110px;
  }
  #intro .intro-main{
    margin:20px auto;
  }
  #intro .intro-main .intro-name{
    width:90%;
    padding:0 20px;
      }
  #intro .intro-main .intro-name h2{
    font-size:45px;
  }
  #intro h2{
    font-size:40px;
  }
  #intro h3{
    font-size:40px;
  }
  #about-me{
    font-size:18px;
  }
  #footer{
      padding-top:110px;
  margin:-110px auto 0 auto;
  }
}
@media (max-width:385px){
  #fcc{
    font-size:15px;
  }
}
